<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Modificar pacientes</div>
        <div class="panel-body">
            <form id="formulario" method="POST" action="/administracion/pacientes/modificar/update">
                <input type="hidden" name="external" value="<%= paci.external_id%>"/>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paciente</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Historial</a></li>                                        
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="form-group">
                                <label for="cedula" class="control-label">Cedula:</label>
                                <input type="text" class="form-control" id="cedula" name="cedula" value="<%= paci.cedula %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="apellidos" class="control-label">Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= paci.apellidos %>">
                            </div>
                            <div class="form-group">
                                <label for="nombres" class="control-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" value="<%= paci.nombres %>">
                            </div>

                            <div class="form-group">
                                <label for="fecha_nac" class="control-label">Fecha de nacimiento:</label>
                                <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" value="<%= paci.fecha_nac %>">
                            </div>
                            <div class="form-group">
                                <label for="edad" class="control-label">Edad:</label>
                                <input type="text" class="form-control" id="edad" name="edad" value="<%= paci.edad %>">
                            </div>
                            <div class="form-group">
                                <label for="direccion" class="control-label">Direccion:</label>
                                <textarea id="direccion" class="form-control" name="direccion"><%= paci.direccion %></textarea>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="form-group">
                                <label for="nro_his" class="control-label">Nro historial:</label>
                                <input type="text" class="form-control" id="nro_his" name="nro_his" value="<%= paci.historia.nro_historia %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="enf" class="control-label">Enfermedades:</label>
                                <input type="text" class="form-control" id="enf" name="enf" value="<%= paci.historia.enfermedades %>">
                            </div>
                            <div class="form-group">
                                <label for="enf_her" class="control-label">Enfermedades hederitarias:</label>
                                <input type="text" class="form-control" id="enf_her" name="enf_her" value="<%= paci.historia.enfer_hede %>">
                            </div>
                            <div class="form-group">
                                <label for="hab" class="control-label">Habitos:</label>
                                <input type="text" class="form-control" id="hab" name="hab" value="<%= paci.historia.habitos %>">
                            </div>
                            <div class="form-group">
                                <label for="contacto" class="control-label">En caso de emergencia llamar:</label>
                                <input type="text" class="form-control" id="contacto" name="contacto" value="<%= paci.historia.contacto %>">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">                                    
                    <a href="/administracion/pacientes" class="btn btn-default" >Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

