<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de Consultas</div>
        <div class="panel-body">
            <!--modal-->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registro de Consultas</h4>
                        </div>
                        <div class="modal-body">
                            <form id="formulario" method="POST" action="/administracion/consultas/guardar">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">                                     
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Consulta</a></li>                                       
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <div class="modal-footer">
                                                <small class="label label-danger">MEDICO</small>
                                            </div>
                                            <span for="medico" class="control-label"><%= medico.usuario %></span>
                                            <input type="hidden" id="medico" name="medico" value="<%= medico.external %>">
                                        </div>
                                        <div class="modal-footer">
                                            <small class="label label-danger">DATOS PACIENTE:</small>
                                        </div>

                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <% listado.forEach(function(item, index){ %>
                                            <label for="paciente" class="control-label">Seleccione un Paciente:</label>
                                            <select class="form-control" id="historia" name="historia">
                                                <option value="<%= item.historia.id %>"> 
                                                    <%= item.apellidos %> <%= item.nombres %>
                                                </option>
                                            </select>
                                            <div class="form-group">
                                                <label for="cedula" class="control-label">Cédula:</label>
                                                <input type="text" class="form-control" id="cedula" name="cedula" value="<%= item.cedula %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombreC" class="control-label">Nombres:</label>
                                                <input type="text" class="form-control" id="nombreC" name="nombreC" value="<%= item.apellidos %> <%= item.nombres %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="edad" class="control-label">Edad:</label>
                                                <input type="text" class="form-control" id="edad" name="edad" value="<%= item.edad %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="direccion" class="control-label">Direccion:</label>
                                                <input type="text" class="form-control" id="direccion" name="direccion" value="<%= item.direccion %>" readonly>
                                            </div>
                                            <div class="modal-footer">
                                                <small class="label label-danger">DATOS HISTORIA:</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="nro" class="control-label">Nro Historia:</label>
                                                <input type="text" class="form-control" id="nro" name="nro" value="<%= item.historia.nro_historia %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="habitos" class="control-label">Habitos:</label>
                                                <input type="text" class="form-control" id="habitos" name="habitos" value="<%= item.historia.habitos %>"readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="enfermedades" class="control-label">Enfermedades:</label>
                                                <input type="text" class="form-control" id="enfermedades" name="enfermedades" value="<%= item.historia.enfermedades %>"readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="enfer_here" class="control-label">Enfermedades Hereditarias:</label>
                                                <input type="text" class="form-control" id="enfer_here" name="enfer_here" value="<%= item.historia.enfer_hede %>" readonly>
                                            </div>
                                            <% }) %>
                                            <div class="modal-footer">
                                                <small class="label label-danger">DATOS CONSULTA:</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="fecha" class="control-label">Fecha de la Consulta:</label>
                                                <input type="date" class="form-control" id="fecha" name="fecha">
                                            </div>
                                            <div class="form-group">
                                                <label for="motivo" class="control-label">Motivo:</label>
                                                <input type="text" class="form-control" id="motivo" name="motivo">
                                            </div>
                                            <div class="form-group">
                                                <label for="diagnostico" class="control-label">Diagnostico:</label>
                                                <textarea id="diagnostico" class="form-control" name="diagnostico"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="receta" class="control-label">Receta:</label>
                                                <textarea id="receta" class="form-control" name="receta"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- fin modal -->

            <div>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo</a>
                <select id="criterio">
                    <option value="todos">Todos</option>
                    <option value="cedula">Cedula</option>
                    <option value="historia">Nro de historia</option>
                    <option value="apellidos">Apellidos</option>
                </select>
                <input type="text" id="texto" placeholder="Ingrese su dato a buscar">
                <input type="button" id="boton" value="Buscar">
            </div>

            <% if(typeof msg != 'undefined') { %>
            <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
            <div class="form-group">
                <div class="label label-danger" style="font-size: 8px">
                    <%= msg.error %>
                </div>                        
            </div>                  
            <% } %>
            <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
            <div class="form-group">
                <div class="label label-success" style="font-size: 8px">
                    <%= msg.info %>
                </div>                        
            </div>                  
            <% } %>
            <% } %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Motivo</th>
                        <th>Fecha</th>
                        <th>Receta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% consulta.forEach(function (item, index) { %>
                    <tr>
                        <td>
                            <%= (index + 1) %>
                        </td>
                        <td>
                            <%= item.motivo %>
                        </td>
                        <td>
                            <%= item.fecha %>
                        </td>
                        <td>
                            <%= item.receta %>
                        </td>
                        <td>
                            <a href="/administracion/consulta/modificar/<%= item.external_id %>" class="btn btn-primary">Modificar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

